@page "/"

@page "/home/{*everything}"

@page "/home/{id:int}/{*everything}"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Remaining URL: @Everything</p>

<p>Parameter Id: @Id</p>

@code {
    [Parameter]
    public string? Everything { get; set; }

    [Parameter]
    public int Id { get; set; }
}

